@model IEnumerable<LoLStats.Shared.Models.Entities.Champion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm("Champion", "Champion") )
    {
    <p>
        @*Champion: @Html.TextBox("SearchString")*@
        <input type="text" class="form-control" placeholder="Champion Name" name="SearchString" id="SearchString" >
        <input type="submit" value="Filter" id="btnFilter" style="margin-left:0em; width: 5em"  class="btn-custom" /> 
    </p>
    }
</p>

